body{
    background-color: antiquewhite;
    color: rgb(27, 27, 27);
    font-family: sans-serif;
}

h1{
    font-size: 24px;
    text-align: center;
}

.botao1,
.botao2{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    
}

.botao1{
    background-color: black;
    border-color: rgb(0, 98, 65);
    color: rgb(239, 239, 239);
}

.botao2{
    background-color: yellow;
    border-color: rgb(55, 0, 0);
    color: whitesmoke;
}